@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.gamja-flower-regular {
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "nav"
        "footer"
        "main";
    gap: 5px;
    border: black solid 1.5px;
    text-align: center;
    /* padding: 10px; */
}

.header {
    grid-area: header;
    text-align: center;
    border-bottom: black solid 1.5px;
}

.container nav {
    grid-area: nav;
    /* border-right: black solid 1.5px; */
    padding: 20px;
}

nav {
    display: flex;
    gap: 15px;
}


#menu {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.column {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 20px;
}

.container footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    border-top: black solid 1.5px;
}

.box {
    padding: 20px;
    margin: 20px;
    block-size: 100px;
    border-radius: 25px;
    box-sizing: border-box;
    border: 1.5px solid #000000;
    width: 80%;
    height: fit-content;
    display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    text-align: justify;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    box-sizing: border-box;
}

footer h3 {
    text-align: left;
}

.middle_column {
    display: inline-block;
    width: 34%;
    vertical-align: top;
    border-right: black solid 1.5px;
    padding-left: 15px;
    /* padding-right: 15px; */
}

.nopad {
    padding: 0;
}

.line_row {
    border-bottom: black solid 1.5px;
}